<h1>{{title}}</h1>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}}
{{#if file}}
    <p>比较源：{{file}}</p>
{{/if}}
{{#if add.length}}
    <h2>新增</h2>
    <ul>
        {{#each add}}<li>{{title}}</li>{{/each}}
    </ul>{{/if}}
{{#if remove.length}}
    <h2>删除</h2>
    <ul>
        {{#each remove}}<li>{{title}}</li>{{/each}}
    </ul>
{{/if}}